figma/
vue/
node_modules/
package-lock.json
package.json
~$леонтьев-б-п-отчет-о-выполнении-задания-по-теме-4-система-контроля-версий.docx
леонтьев-б-п-отчет-о-выполнении-задания-по-теме-4-система-контроля-версий.docx